<div class="row top-pane">
    <h2 class="col-lg-11 col-md-10 col-sm-10 col-xs-6">Select game mode</h2>
    <a routerLink="/players" class="btn btn-primary col-lg-1 col-md-2 col-sm-2 col-xs-6">Previous</a>
</div>
<div class="row">
    <!-- List game modes -->
    <div (click)="new_game_clicked(101)" class="game-mode-btn game-mode-101">101</div>
    <div (click)="new_game_clicked(301)" class="game-mode-btn game-mode-301">301</div>
    <div (click)="new_game_clicked(501)" class="game-mode-btn game-mode-501">501</div>
</div>
